.campo-texto {
    margin: 24px 0px;
}

.campo-texto label {
    font-size: 24px;
    display: block;
    margin-bottom: 8px;
}

.campo-texto input {
    background-color: #fff;
    width: 100%;
    font-size: 24px;
    border: none;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    padding: 24px;
    box-sizing: border-box;
}